#preview-canv{
    display:none;
    width: 64px;
    height: 64px;
}



/* general class styles */

.tool-img{
    width: 30px;
    height: 30px;
    margin: 5px auto 5px auto;
    cursor: pointer;
    padding:10px;
    border: 2px solid transparent;
    border-radius: 3px;
}
.tool-img:hover{
    filter: brightness(80%);
}
.sel-tool{
    border: 2px solid white;
    filter: brightness(100%);
}
.palette-item{
    width : 52px;
    height : 50px;
    outline: 3px solid black;
    float : left;
    cursor : pointer;
}
.palette-item-tr{
    width : 52px;
    height : 50px;
    outline : 3px solid black;
    float : left;
    cursor : pointer;
}
.sel-pal{
    filter: brightness(100%);
    outline : 5px solid #00f0ff;
}

.arrow-nav{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding:10px;
    margin:auto;
}
.arrow-nav:hover{
    filter: brightness(70%);
}
.spr-item{
    width : 64px;
    height : 64px;
    outline: 4px solid black;
    padding-right:3px;
    float : left;
    cursor: pointer;
}
.sel-spr{
    filter : brightness(100%);  /* do not remove - pushes image to the front */
    outline: 4px solid yellow;
    width:72px;
    height:72px;
    cursor: pointer;
    margin-top:-4px;
    padding:0;
}


